<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${content}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{css/style.css}">
    <link rel="shortcut icon" href="static/img/icon.ico"  th:href="@{img/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="static/js/script.js" th:src="@{js/script.js}"> </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="progress-view">
        <div id="progress-background">
            <div id="progress-bar"></div>
        </div>
    </div>
    <div class="custom-body-2">
        <nav class="navbar-nav side-navbar side-navbar-theme1">
            <li class="nav-item" id ="nav_photo">
                <a class="nav-link" href="/cv#header" id="profile_menu"><img src="static/img/profile_photo.jpg" th:src="@{img/profile_photo.jpg}"></a>
            </li>
            <li class="nav-item horizontal-center">
                <button name="side-nav-btn" class="nav-button btn btn-primary">Ubah Tema</button>
            </li>
        </nav>
        <nav class="navbar navbar-expand-sm top-navbar top-navbar-theme1 fixed-top justify-content-between">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-light navbar-toggler-icon toggle">
                    <img src="static/img/toggle.png" th:src="@{img/toggle.png}">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/cv#header2">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class ="main">
        <div class="container container-homepage-1">
            <div class="panel-group">
                <div class="panel panel-default border border-dark header">
                    <div class="panel-heading">
                        <a name="header">
                            <img class="img-responsive header-img-1" id="header-img" src="static/img/header.png" th:src="@{img/header.png}">
                            <img class="img-responsive header-img-2" id="header-img-2" src="img/header-green.jpg" th:src="@{img/header-green.jpg}">
                        </a>
                        <img class="img-responsive" id="profile_photo" src="static/img/profile_photo.jpg" th:src="@{img/profile_photo.jpg}">
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row header-versi-satu">
                                <div class="col-8">
                                    <h1>Ahmad Fauzan Amirul Isnain</h1>
                                    <h2>Student at Universitas Indonesia</h2>
                                    <p>Tasikmalaya, 27 Februari 2000</p>
                                    <p>Bukit Sawangan Indah B7/25 Depok, Jawa Barat</p>
                                    <p>Hello, i'm a full time learner and part time coder. I love to read book, especially programming books.</p>
                                </div>
                                <div class="col-4 header-margin-bottom">
                                    <h2>Contact</h2>
                                    <div class="row">
                                        <img class="inline" src="static/img/email.png" th:src="@{img/email.png}">
                                        <p class="inline">ahmad.fauzan4580@gmail.com</p>
                                    </div>
                                    <div class="row">
                                        <img class="inline" src="static/img/call.png" th:src="@{img/call.png}">
                                        <p class="inline">087775639862</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row header-versi-dua">
                                <div class="col-12">
                                    <h1>Ahmad Fauzan Amirul Isnain</h1>
                                    <h2>Student at Universitas Indonesia</h2>
                                </div>
                                <div class="col-12 auto-margin">
                                    <div class="row auto-margin">
                                        <img class="inline" src="static/img/email.png" th:src="@{img/email.png}">
                                        <p class="inline">ahmad.fauzan4580@gmail.com</p>
                                    </div>
                                    <div class="row auto-margin">
                                        <img class="inline" src="static/img/call.png" th:src="@{img/call.png}">
                                        <p class="inline">087775639862</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion panel-heading-custom border border-dark">
                        <h1><a name="current-activity">Current Activity</a></h1>
                    </div>
                    <div class="panel-body accordion-body panel-body-custom border border-dark">
                        <div class="row content">
                            <img src="static/img/fuki.png" th:src="@{img/fuki.png}">
                            <div class="inline content-word">
                                <p>Staff of Muslim Development Center</p>
                                <p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div name ="experience-head" class="panel-heading accordion panel-heading-custom border border-dark">
                        <h1><a name="Experience">Experience</a></h1>
                    </div>
                    <div name="experience-body" class="panel-body accordion-body panel-body-custom border border-dark">
                        <div class="row content">
                            <img src="static/img/compfest.png" th:src="@{img/compfest.png}">
                            <div class="inline content-word">
                                <p>Staff of Equipment and Security</p>
                                <p>Compfest X</p>
                                <p>Feb, 2018 - Sept, 2018</p>
                            </div>
                        </div>
                        <div class="row content">
                            <img src="static/img/fuki.png" th:src="@{img/fuki.png}">
                            <div class="inline content-word">
                                <p>Staff of Muslim Development Center</p>
                                <p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
                                <p>Feb, 2018 - Present</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading accordion panel-heading-custom border border-dark">
                        <h1><a name="Education">Education</a></h1>
                    </div>
                    <div class="panel-body accordion-body panel-body-custom border border-dark">
                        <div class="row content">
                            <img src="static/img/UI.png" th:src="@{img/UI.png}">
                            <div class="inline content-word"/>
                            <p>Universitas Indonesia</p>
                            <p>Bachelor’s  degree, Computer Science</p>
                            <p>2017 - Present</p>
                        </div>
                    </div>
                    <div class="row content">
                        <img src="static/img/smanda.png" th:src="@{img/smanda.png}"/>
                        <div class="inline content-word">
                            <p>SMA Negeri 2 Bogor</p>
                            <p>2014 - 2017</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="Skills">Skills</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img src="static/img/java.png" th:src="@{img/java.png}">
                        <div class="inline content-word">
                            <p>Java</p>
                            <p>Object Oriented Programming</p>
                        </div>
                    </div>
                    <div class="row content">
                        <img src="static/img/python.png" th:src="@{img/python.png}">
                        <div class="inline content-word">
                            <p>Python</p>
                            <p>Procedural Programming</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="Accomplishments">Accomplishments</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img src="static/img/fastfingers.png" th:src="@{img/fastfingers.png}">
                        <div class="inline content-word">
                            <p>98 WPM English Typing Speed Test</p>
                            <p>10FastFingers</p>
                            <p>2018</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="Interests">Interests</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img src="static/img/se.png" th:src="@{img/se.png}">
                        <div class="inline content-word">
                            <p>Software Engineering</p>
                            <p>Apply principles and techniques of computer science to<br/>
                                software applications for computer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-homepage-2">
        <div class="panel-group">
            <div class="panel panel-default border border-dark header">
                <div class="panel-heading">
                    <a name="header2">
                        <img class="img-responsive header-img-1" id="header-img" src="static/img/header.png" th:src="@{img/header.png}">
                        <img class="img-responsive header-img-2" id="header-img-2" src="static/img/header-green.jpg" th:src="@{img/header-green.jpg}">
                    </a>
                    <img class="img-responsive" id="profile_photo" src="static/img/profile_photo.jpg" th:src="@{img/profile_photo.jpg}">
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row header-versi-satu">
                            <div class="col-8">
                                <h1>Ahmad Fauzan Amirul Isnain</h1>
                                <h2>Student at Universitas Indonesia</h2>
                            </div>
                            <div class="col-4 header-margin-bottom">
                                <h2>Contact</h2>
                                <div class="row">
                                    <img class="inline" src="static/img/email.png" th:src="@{img/email.png}">
                                    <p class="inline">ahmad.fauzan4580@gmail.com</p>
                                </div>
                                <div class="row">
                                    <img class="inline" src="static/img/call.png" th:src="@{img/call.png}">
                                    <p class="inline">087775639862</p>
                                </div>
                            </div>
                        </div>
                        <div class="row header-versi-dua">
                            <div class="col-12">
                                <h1>Ahmad Fauzan Amirul Isnain</h1>
                                <h2>Student at Universitas Indonesia</h2>
                            </div>
                            <div class="col-12 auto-margin">
                                <div class="row auto-margin">
                                    <img class="inline" src="static/img/email.png" th:src="@{img/email.png}">
                                    <p class="inline">ahmad.fauzan4580@gmail.com</p>
                                </div>
                                <div class="row auto-margin">
                                    <img class="inline" src="static/img/call.png" th:src="@{img/call.png}">
                                    <p class="inline">087775639862</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="current-activity2">Current Activity</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img class="auto-margin" src="static/img/fuki.png" th:src="@{img/fuki.png}">
                    </div>
                    <div class="row content">
                        <div class="inline content-word">
                            <p>Staff of Muslim Development Center</p>
                            <p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="Experience2">Experience</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img class="auto-margin" src="static/img/compfest.png" th:src="@{img/compfest.png}">
                    </div>
                    <div class="row content">
                        <div class="inline content-word">
                            <p>Staff of Equipment and Security</p>
                            <p>Compfest X</p>
                            <p>Feb, 2018 - Sept, 2018</p>
                        </div>
                    </div>
                    <div class="row content">
                        <img class="auto-margin" src="static/img/fuki.png" th:src="@{img/fuki.png}">
                    </div>
                    <div class="row content">
                        <div class="inline content-word">
                            <p>Staff of Muslim Development Center</p>
                            <p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
                            <p>Feb, 2018 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion panel-heading-custom border border-dark">
                    <h1><a name="Education2">Education</a></h1>
                </div>
                <div class="panel-body accordion-body panel-body-custom border border-dark">
                    <div class="row content">
                        <img class="auto-margin" src="static/img/UI.png" th:src="@{img/UI.png}">
                    </div>
                    <div class="row content">
                        <div class="inline content-word"/>
                        <p>Universitas Indonesia</p>
                        <p>Bachelor’s  degree, Computer Science</p>
                        <p>2017 - Present</p>
                    </div>
                </div>
                <div class="row content">
                    <img class="auto-margin" src="static/img/smanda.png" th:src="@{img/smanda.png}"/>
                </div>
                <div class="row content">
                    <div class="inline content-word">
                        <p>SMA Negeri 2 Bogor</p>
                        <p>2014 - 2017</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading accordion panel-heading-custom border border-dark">
                <h1><a name="Skills2">Skills</a></h1>
            </div>
            <div class="panel-body accordion-body panel-body-custom border border-dark">
                <div class="row content">
                    <img class="auto-margin" src="static/img/java.png" th:src="@{img/java.png}">
                </div>
                <div class="row content">
                    <div class="inline content-word">
                        <p>Java</p>
                        <p>Object Oriented Programming</p>
                    </div>
                </div>
                <div class="row content">
                    <img class="auto-margin" src="static/img/python.png" th:src="@{img/python.png}">
                </div>
                <div class="row content">
                    <div class="inline content-word">
                        <p>Python</p>
                        <p>Procedural Programming</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading accordion panel-heading-custom border border-dark">
                <h1><a name="Accomplishments2">Accomplishments</a></h1>
            </div>
            <div class="panel-body accordion-body panel-body-custom border border-dark">
                <div class="row content">
                    <img class="auto-margin" src="static/img/fastfingers.png" th:src="@{img/fastfingers.png}">
                </div>
                <div class="row content">
                    <div class="inline content-word">
                        <p>98 WPM English Typing Speed Test</p>
                        <p>10FastFingers</p>
                        <p>2018</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading accordion panel-heading-custom border border-dark">
                <h1><a name="Interests2">Interests</a></h1>
            </div>
            <div class="panel-body accordion-body panel-body-custom border border-dark">
                <div class="row content">
                    <img class="auto-margin" src="static/img/se.png" th:src="@{img/se.png}">
                </div>
                <div class="row content">
                    <div class="inline content-word">
                        <p>Software Engineering</p>
                        <p>Apply principles and techniques of computer science to<br/>
                            software applications for computer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>